.socials {
  position: fixed;
  right: 10%;
  top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.blog-wrapper {
  padding-top: 2em;
  display: flex;
  justify-content: center;

  .blog {
    width: 60%;
    display: flex;
    flex-direction: column;
    .a-i {
      display: flex;
      flex-direction: column;
      gap: 23px;
      padding-top: 2em;
      .blog-image {
        img {
          width: 100%;
          height: auto;
        }
      }
      .blog-article {
        gap: 5em;
        font-family: $openSans;
        overflow-wrap: break-word;
      }
    }
    .blog-title {
      font-weight: bold;
      font-size: 3vw;
      overflow-wrap: break-word;
    }
    .blog-time {
      color: $mid-grey;
      font-size: 0.5em;
    }

    .blog-category {
      color: $mid-grey;
    }
  }
}
.comment-s {
  color: $blue-yc;
  cursor: pointer;
  width: 2em;
  transition: all 300ms cubic-bezier(0, 0, 0.18, 0.76);

  &:hover {
    transform: scale(1.2);
    transition: all 300ms cubic-bezier(0, 0, 0.18, 0.76);
  }
}
.like-s {
  width: 2em;

  cursor: pointer;
  transition: all 300ms cubic-bezier(0, 0, 0.18, 0.76);
  &:hover {
    transform: scale(1.2);
    transition: all 300ms cubic-bezier(0, 0, 0.18, 0.76);
  }
}

// comments section
.t {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
  textarea {
    height: 50px;
    width: 100%;
    min-height: 10em;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    resize: none;
    border: 2px solid $light-grey;
    font-family: $pop;
    &:focus {
      border: 3px solid $fade-blue;
    }
  }
  .c-btn {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    max-width: 100%;
    button {
      border: none;
      padding: 10px;
      font-weight: 700;
      cursor: pointer;
      border-radius: 5px;
      transition: all 500ms ease;
    }

    .comment {
      &:hover {
        background-color: $blue-yc;
        color: white;
        transition: all 500ms ease;
      }
    }
    .cancel {
      &:hover {
        background-color: $red;
        color: white;
        transition: all 500ms ease;
      }
    }
  }

  .comments {
    display: flex;
    align-items: flex-start;
    gap: 1em;
    flex-direction:column;
    .user-avatar {
      img {
        width: 3em;
        height: 3rem;
        border-radius: 100%;
      }
    }

    .com-wrapper {
      display: flex;
       gap: 12px;
       .comment-content{

         .user-com {
           display: flex;
           align-items: center;
           gap: 10px;
           .user-name {
             font-size: 1em;
             font-weight: 600;
           }
           .time {
             font-size: 0.6em;
             color: $mid-grey;
           }
         }
        }
      }
      .delete {
        background-color: rgb(255, 82, 82) ;

      border: none;
      color: white;
      font-family: $pop;
      border-radius: 5px;
      padding: 5px;
      transition: all 300ms ease;
      cursor: pointer;
        &:hover {
          background-color: red;
          transition: all 300ms ease;
        }
      }
      .edite {
        background-color: $fade-blue;
        border: none;
        color: white;
        font-family: $pop;
        border-radius: 5px;
        padding: 5px;
      }
    .com{
      background-color: $fade-blue;
      padding: 10px;
      border-radius: 0 10px 10px 10px;
    }
  }
}
