.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;

  background: url(./../assets/waves.svg);
  .content {
    text-align: center;
    display: flex;
    align-items: center;

    .textbox {
      max-width: 600px;

      h2 {
        color: #333;
        font-size: 4rem;
        line-height: 1.4em;
        margin: 0;

        span {
          color: white;
        }
      }

      p {
        color: $dark-grey;
        letter-spacing: 1px;
        text-decoration: none;
      }
      .btn-more {
        padding: 1.1em;
        font-weight: 700;
        letter-spacing: 1px;
        font-family: $pop;
        border: none;
        background-color: white;
        border-radius: 5px;
        color: $dark-grey;
        cursor: pointer;
        &:hover {
          color: white;
          background-color: $dark-blue;
          filter: drop-shadow(0 0 0.5rem rgba(1, 29, 80, 0.426));
        }
      }
    }
  }

  // .imgBox {
  //    display: flex;
  //    justify-content: flex-end;
  //    padding-right: 50px;
  //    margin-top: 5px;
  //    gap: 2em;

  //    img {
  //       max-width: 800rem;
  //       display: flex;
  //       justify-content: flex-end;
  //       filter: drop-shadow(0 0 0.75rem rgb(88, 88, 88));
  //    }

  // }

  ul {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    list-style: none;

    li {
      cursor: pointer;

      i {
        font-size: 2rem;
        filter: invert(1);
      }
    }
  }
}

@media (max-width: 1538px) {
  .circle {
    clip-path: circle(600px at bottom right);
  }

  .hero {
    padding: 40px;
    padding-top: 5rem;
    .content {
      flex-direction: column;
    }
  }
}

@media (max-width: 700px) {
  .circle {
    clip-path: circle(600px at bottom);
  }

  .hero {
    margin-top: 0rem;
    .content {
      .textbox {
        h2 {
          font-size: 2rem;
        }

        p {
          background: rgba(255, 255, 255, 0.35);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          backdrop-filter: blur(3px);
          -webkit-backdrop-filter: blur(3px);
          border-radius: 10px;
          border: 1px solid rgba(255, 255, 255, 0.18);
          padding: 10px;
          border-radius: 5px;
          color: $dark-grey;
        }
      }
    }
  }
}
