.submit_post {
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .post_form {
        .imgUp {
            display: flex;
            justify-content: center;
            align-items: center;
        }
      .pf{
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          gap: 1em;

      }
    }
}